.hb_story__hero .hb_page-width {
    margin-right: 0;
    position: relative;
}
.hb_story__hero .hb_wrapper {
    margin-left: -6%;
}
.hb_story__hero {
    background-color: #2F63A6;
    margin-bottom: 50px;
}
.hb_story_hero__content {
    color: #fff;
    flex: 40%;
    max-width: 40%;
}
.hb_story_hero__content--title {
    font-family: PT Serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    padding-bottom: 19px;
    max-width: 463px;
}
.hb_story_hero__content--subtitle {
    font-family: Sofia Pro;
    font-size: 22px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 2px;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.hb_story_hero__content--para {
    max-width: 463px;
    font-family: Sofia Pro;
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
}
.hb_story-hero__image {
    flex: 60%;
    width: 60%;
}
.hb_story_hero__badge {
    position: absolute;
    bottom: 17%;
    right: -5%;
    width: 190px;
    height: 40px;
    border-radius: 4px;
    transform: rotate(-90deg);
    background-color: #1BB8B8;
    font-family: Sofia Pro;
    font-size: 18px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hb_vision {
    padding-bottom: 50px;
}
.hb_vision .hb_wrapper {
    gap: 80px;
}
.hb_vision .hb_vision__content--img {
    max-width: 50%;
    flex: 50%;
}
.hb_vision__content--title {
    font-family: PT Serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #0E4080;
    padding-bottom: 10px;
}
.hb_vision__content--para {
    font-family: Sofia Pro;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #2F63A6;
    /* max-width: 411px; */
}
.hb_vision__content {
    align-items: self-start;
    gap: 10px;
}
.hb_vision__content--text {
    max-width: 411px;
}
.hb_product {
    padding: 50px 0 70px;
}
.hb_product__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.hb_product__content--title {
    font-family: PT Serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
    text-align: left;
    color: #0E4080;
    max-width: 453px;
    padding-bottom: 20px;
}
.hb_product__content--para {
    font-family: Sofia Pro;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #2F63A6;
    max-width: 524px;
}
.hb_product_img {
    flex: 50%;
    max-width: 50%;
    overflow: hidden;
    max-height: 409px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hb_product .hb_wrapper {
    flex-direction: column;
    gap: 40px;
}
.hb_product__content--text {
    flex: 50%;
    max-width: 50%;
}
.hb_packages__features--items {
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
.hb_packages__features {
    gap: 80px;
}
.hb_packages__features--items--text {
    font-family: Sofia Pro;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    color: #2F63A6;
}
.hb_packages__features .count {
    font-family: Sofia Pro;
    font-size: 24px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    color: #0E4080;
}
.hb_packages {
    padding-bottom: 70px;
}
@media screen and (max-width: 767px) {
    .hb_story__hero {
        padding-top: 40px;
    }
    .hb_story__hero .hb_wrapper {
        flex-direction: column;
    }
    .hb_story__hero .hb_page-width {
        margin: unset;
        width: 100%;
    }
    .hb_story_hero__content {
        flex: 100%;
        max-width: 100%;
    }
    .hb_story_hero__content--subtitle {
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 1.5px;
        text-align: center;
    }
    .hb_story_hero__content--title {
        font-size: 28px;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
    }
    .hb_story_hero__content--para {
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        text-align: center;
    }
    .hb_story-hero__image {
        width: 100%;
        max-height: 245px;
        overflow: hidden;
    }
    .hb_story_hero__badge {
        top: 50%;
        right: -9%;
    }
    .hb_vision .hb_wrapper {
        flex-direction: column;
        gap: 20px;
    }
    .hb_product__content--text {
        flex: 100%;
        max-width: 100%;
    }
    .hb_product__content {
        flex-direction: column-reverse;
    }
    .hb_product__content--title {
        font-size: 22px;
        font-weight: 400;
        line-height: 28px;
        text-align: center;
    }
    .hb_product__content--para {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        text-align: center;
    }
    .hb_product_img {
        flex: 100%;
        max-width: 100%;
    }
    .hb_flex-column {
        flex-direction: column;
        gap: 18px;
    }
    .hb_desktop {
        display: none;
    }
    .hb_mobile {
        display: block;
    }
    .hb_product .hb_wrapper {
        gap: 80px;
    }
    .hb_footer__feature--link {
        column-count: 2;
        width: 100%;
    }
}