.hb_hero {
    padding-top: 50px;
    position: relative;
    margin-bottom: 50px;
}
.hb_hero .hb_wrapper {
    flex-direction: column;
}
.hb_hero____content--title {
    font-family: PT Serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-align: center;
    color: #0E4080;
    padding-bottom: 60px;
}
.hb_hero____content--subtitle {
    text-align: center;
    font-family: Sofia Pro;
    font-size: 22px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 2px;
}
.hb_hero__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.hb_hero__pagination--reviews {
    font-family: Sofia Pro;
    font-size: 22px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    color:  #b2c1d4;
    text-transform: capitalize;
}
.hb_hero__pagination .hb_active {
    padding-bottom: 10px;
    border-bottom: 4px solid red
}
.hb_hero .end_line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.hb_hero_banner__news-of-week-badge {
    position: absolute;
    width: 190px;
    height: 40px;
    border-radius: 4px;
    rotate: -90deg;
    background: #1BB8B8;
    font-family: Sofia Pro;
    font-size: 18px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    top: 73%;
    right: -5%;
    transition: 1s ease-in-out;
}
.hb_testimonial__container {
    border-radius: 8px;
    background-color: #2F63A6;
    padding: 40px 24px;
    max-width: 330px;
    color: #fff;
}
.hb_testimonial__container .hb_flex {
    align-items: center;
    justify-content: space-between;
    align-content: flex-start;
}
.hb_testimonial--review {
    font-family: Sofia Pro;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    padding-bottom: 6px;
    max-width: 278px;
}
.hb_testimonial--name {
    font-family: Sofia Pro;
    font-size: 16px;
    font-weight: 600;
    line-height: 13px;
    text-align: left;
}
.hb_testimonial_section .hb_wrapper {
    row-gap: 30px;
    column-gap: 40px;
    flex-wrap: wrap;
}
.hb_flex-start {
    align-self: flex-start;
}
.hb_testimonial_section {
    padding-bottom: 80px;
}
@media screen and (max-width:767px) {
    .hb_testimonial__container {
       max-width: 80%;
    }
    .hb_testimonial--review {
        max-width: 100%;
    }
    .hb_hero_banner__news-of-week-badge {
        right: -10%;
    }
}